# Visualizing Relationships and Distributions in Seaborn

### Getting into the seaborn domain

In [2]:
!pip3 install seaborn

Collecting seaborn
  Downloading https://files.pythonhosted.org/packages/10/01/dd1c7838cde3b69b247aaeb61016e238cafd8188a276e366d36aa6bcdab4/seaborn-0.8.1.tar.gz (178kB)
    100% |████████████████████████████████| 184kB 1.3MB/s ta 0:00:01
Collecting scipy (from seaborn)
  Downloading https://files.pythonhosted.org/packages/87/52/1ca31e34c44864072a1c14e78e345ac2cae00400a363e794a41529ad7e35/scipy-1.0.1-cp35-cp35m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (16.3MB)
    100% |████████████████████████████████| 16.3MB 79kB/s eta 0:00:011
Collecting matplotlib (from seaborn)
  Downloading https://files.pythonhosted.org/packages/41/ac/5db3f25a7fbfe1b9ea6af82375e15b64d8aa9535b0570a13ba89debc77f6/matplotlib-2.2.2-cp35-cp35m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (13.6MB)
    100% |████████████████████████████████| 13.6MB 102kB/s ta 0:00:011  11% |███▊                            | 1.6MB 2.1MB/s eta 0:00:06
Collecting pandas (from seaborn)
  Downloading https://files.pythonhosted.org/packages/da/e8/64832fc4107f249f0ca1596f0914a40e9cef490569b3d972a59fc786a360/pandas-0.22.0-cp35-cp35m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (14.9MB)
    100% |████████████████████████████████| 14.9MB 81kB/s eta 0:00:011   56% |██████████████████              | 8.4MB 2.5MB/s eta 0:00:03
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.5/site-packages (from scipy->seaborn)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.5/site-packages (from matplotlib->seaborn)
Collecting cycler>=0.10 (from matplotlib->seaborn)
  Downloading https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Collecting pytz (from matplotlib->seaborn)
  Downloading https://files.pythonhosted.org/packages/dc/83/15f7833b70d3e067ca91467ca245bae0f6fe56ddc7451aa0dc5606b120f2/pytz-2018.4-py2.py3-none-any.whl (510kB)
    100% |████████████████████████████████| 512kB 1.7MB/s ta 0:00:01
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 (from matplotlib->seaborn)
  Downloading https://files.pythonhosted.org/packages/6a/8a/718fd7d3458f9fab8e67186b00abdd345b639976bc7fb3ae722e1b026a50/pyparsing-2.2.0-py2.py3-none-any.whl (56kB)
    100% |████████████████████████████████| 61kB 2.6MB/s ta 0:00:01
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.5/site-packages (from matplotlib->seaborn)
Collecting kiwisolver>=1.0.1 (from matplotlib->seaborn)
  Downloading https://files.pythonhosted.org/packages/69/a2/421afa75b6470f34dd8129b6e86f9983d83381e907cea86da616502eedad/kiwisolver-1.0.1-cp35-cp35m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (108kB)
    100% |████████████████████████████████| 112kB 3.0MB/s ta 0:00:01
Requirement already satisfied: setuptools in /usr/local/lib/python3.5/site-packages (from kiwisolver>=1.0.1->matplotlib->seaborn)
Building wheels for collected packages: seaborn
  Running setup.py bdist_wheel for seaborn ... done
  Stored in directory: /Users/jananiravi/Library/Caches/pip/wheels/26/0a/44/53ddd89769e62f7c6691976375b86c6492e7dd20a2d3970e32
Successfully built seaborn
Installing collected packages: scipy, cycler, pytz, pyparsing, kiwisolver, matplotlib, pandas, seaborn
Successfully installed cycler-0.10.0 kiwisolver-1.0.1 matplotlib-2.2.2 pandas-0.22.0 pyparsing-2.2.0 pytz-2018.4 scipy-1.0.1 seaborn-0.8.1
You are using pip version 9.0.3, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
import seaborn as sns

In [13]:
print(sns.__version__)

0.8.1

### What data do we work on
Ideally, data in a tabulated format - dataframe

#### We use the Pandas library for generating dataframes

In [5]:
import pandas as pd

In [14]:
print(pd.__version__)

0.22.0

* Load dataset into pandas from a .csv file; store it as a dataframe
* File downloaded from https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv
* Even though the file comes with headers, we still specify them so that they are in our desired format

In [7]:
wine_data = pd.read_csv('datasets/winequality-white.csv', 
                        names=["Fixed Acidity", "Volatile Acidity", "Citric Acid", "Residual Sugar",
                                "Chlorides", "Free Sulfur Dioxide", "Total Sulfur Dioxide", "Density", 
                                "pH", "Sulphates", "Alcohol", "Quality"],
                        skiprows=1,
                        sep=r'\s*;\s*', engine='python')

In [8]:
wine_data.head()

,Fixed Acidity,Volatile Acidity,Citric Acid,Residual Sugar,Chlorides,Free Sulfur Dioxide,Total Sulfur Dioxide,Density,pH,Sulphates,Alcohol,Quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [9]:
#Displaying the bottom 5 entries
wine_data.tail()

,Fixed Acidity,Volatile Acidity,Citric Acid,Residual Sugar,Chlorides,Free Sulfur Dioxide,Total Sulfur Dioxide,Density,pH,Sulphates,Alcohol,Quality
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

*The dataset discusses different wine samples and their qualities*
The dataset has details about the content of alcohol, sugar, different acids in each wine sample and even has a wine quality represented by numbers.

In [12]:
print(len(wine_data.index))

4898

In [11]:
wine_data.describe()

,Fixed Acidity,Volatile Acidity,Citric Acid,Residual Sugar,Chlorides,Free Sulfur Dioxide,Total Sulfur Dioxide,Density,pH,Sulphates,Alcohol,Quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000